<% include partials/header %>

<div class="container padding-top-increase">
    <div class="col-md-6 col-md-offset-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div id="content">
                        <div id="search-gap">
                            <h1 class="">Look it up</h1>
                        </div>
                        
                        <form action="">
                            <input type="text" class="form-control">
                        </form>
                    </div>
                </div>
            </div>
            <p>Search a category</p>
        </div>
    </div>
</div>
<% include partials/footer %>