<% include partials/header %>

<div class="container">
    
    <div class="modal-body row">
        <div class="col-md-9">
           
            
            </div> 
        </div>
            
        <div class="hidden-sm col-md-3">
            <% if(currentUser){ %>
            <div class=" content pl-0 pr-0">
                <div class="post pl-2 pr-2 pt-2 pb-2">
                    <h5>Home</h5>
                    <p>Your pesonal reddit homepage</p>
                    <a href="/post/new"><button type="submit" class="btn btn-primary mb-2 full-content">CREATE POST</button></a>
                    <a href="/l/new"><button type="submit" class="btn btn-primary full-content">CREATE COMMUNITY</button></a>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</div>
<% include partials/footer %>