<% include partials/header %>
<!--
User Structure: 
Username
Password
Forum Name 
-->

<div class="container ">
    <div class="post">
        <div class="text-center">
            <h1>Login</h1>
        </div>
        <form class="pl-3 pr-3 pb-2" action="/login" method="POST">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username"  placeholder="Enter Username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password"  placeholder="Password">
                <small class="form-text text-muted">Do not share your password with others</small>
            </div>
            <input type="hidden" name="referer" value= <%= referer %> >
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
   
</div>

<% include partials/footer %>