#margin-top-increase{
    margin-top: 30%;
}

#padding-top-increase{
    padding-top: 100px;
}

#logo{
    color: grey;
    width:100%;
}

html{
    height:100%;
}
body{
    background-color: #cfd3d6;
}

#content{
    text-align: center;
	padding-top: 25%;
}

#search-gap{
    margin-bottom: 100px;
}

.column-one{
    background-color:yellow;
}

.column-two{
    background-color:green;
}

.content{
    background-color: #dee1e3;
    border: 1px solid #202d4c;
    margin: 0px 5px 20px 5px;
    padding: 0px 15px;
}

.navbar{
    background-color: #f8f9f9;
}

.post{
    background-color: #f8f9f9;
    height: 100%;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

li i{
    font-size: 30px;
}

hr {
    width:95%;
    float: left;
}

.vertical-line{
    border-left: 6px solid green;
    height: 100%;
}

.full-content{
    width: 100%;
}

.tabContent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

#text{
    display: block;
}

li form button{
    outline:0;
    background-color: transparent;
    border:0;
}

.invis{
    color: transparent;
}

.reply{
    border-left: 3px black solid;
}

.uniqueForm{
    float:left;
}

.grey-color{
    color: #D3D3D3;
}